

.link {
    text-decoration: none;
    color: #A6ABB3;
}

.linkBrand {
    text-decoration: none;
    color: #f56767;
    font-size: 28px;
}

.Navbar {
    background-color: #111827;
    border-bottom: 1px solid #65656c;
    
}
